.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
    }
    .headline {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    }
    .lists {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    }
    .blocks {
    display: block;
    font-size: 4.5rem;
    
    }
    
    @media all and (max-width: 768px) {
    .headline {
    font-size: calc(1.5rem * var(--smaller));
    }
   .lists {
    font-size: calc(1.125rem * var(--smaller));
    }
    .blocks {
    font-size: calc(3.375rem * var(--smaller));
    }
    }